.Home {
    margin: 0 auto;
    width: 960px;
}
.Home h1{
    font-size: 32px;
    color: #333;
}
.Home p {
    color: #333;
    text-align: center;
}
.Home a {
    color: #56d5fa;
    text-decoration: none;
}
.Home a:hover {
    color: #333;
}